<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="nama">{{nama}}</ion-title>
    <ion-item lines="none" (click)="uploadData()"slot="end" color="secondary">
      <ion-icon style="font-size:2em;"name="checkmark"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="nama">
    <ion-grid class="ion-margin">
      <ion-row  *ngIf="nama">
        <ion-col>
          Nama : <b>{{nama}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-item">
          <b>Jenis Harga</b>
        </ion-col>
        <ion-col class="col-item">
          <b>Nominal</b>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="col-item">
          Harga Pokok 
        </ion-col>
        <ion-col class="col-item">
          <ion-input type="number" [(ngModel)]="hargaPokok"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-item">
          Harga Level 1 
        </ion-col>
        <ion-col class="col-item">
          <ion-input type="number" [(ngModel)]="hargaLevel1"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-item">
          Harga Level 2 
        </ion-col>
        <ion-col class="col-item">
          <ion-input type="number" [(ngModel)]="hargaLevel2"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="statusUpload">
        <ion-col class="ion-text-center">
          <ion-badge color="success">Success!</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!foto">
        <ion-col >
          <ion-img style="width:auto;height:360px;align-items: center;"[src]="urlPlaceHolderDetailBarang" (click)="presentActionSheetFoto()"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="foto">
        <ion-col >
          <ion-img style="width:auto;height:360px;align-items: center;"[src]="this.restApi.urlPhoto+foto" (click)="presentActionSheetFoto()"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
