<ion-content color="secondary">
  <ion-grid>

    <br>
    <br>

    <ion-row >  
    <div class="section_1 ion-text-center">
      <h1 >Admin</h1>
    </div>
    </ion-row>

    <br>
    <br>
    <br>
    <br>
    <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-row class="section_2">
      
          <ion-col size="12">
              <ion-item class="roundedInput" lines="none">
                  <ion-input placeholder="Username" shape="round" type="text" name="username" ngModel required> <ion-icon  name="person" style="padding-right: 6px;"></ion-icon>
                   </ion-input>
                </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item class="roundedInput"  lines="none">
                  <ion-input placeholder="Password" type="password" name="password" ngModel required><ion-icon  name="key" style="padding-right: 6px;" ></ion-icon> </ion-input>
                </ion-item>
          </ion-col>
        
    </ion-row>

    <br>
    <br>
    <br>
    <br>
    
    <ion-row class="section_3"> 
      <ion-col size=12>
        <ion-button expand="block"
        color="warning"
        fill="solid"
        size="large"
        shape="round" type="submit" [disabled]="form.invalid">
          LOGIN
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</ion-content>
