@font-face {
    font-family: 'Baloo Tamma 2';
    src: url('/assets/font/BalooTamma2-Regular.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    src: url("/assets/font/BalooTamma2-Medium.ttf");
    font-family: 'Baloo Tamma 2';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo Tamma 2';
    src: url('/assets/font/BalooTamma2-Bold.ttf');
    font-weight:700;
    font-style: bold;
}
@font-face {
    font-family: 'Baloo Tamma 2';
    src: url('/assets/font/BalooTamma2-ExtraBold.ttf');
    font-weight:800;
    font-style: bold;
}

